<ng-content select="h1"></ng-content>


 <h1>Diretivas de Atributos</h1>
<div *ngIf="nome == 'Consta'">
    <p [ngClass]="{concluido: verifica, pendente:!verifica}">ngClass</p>
    <hr>
    <p [ngStyle]="{height:altura,background:cor}">NgClass</p>
</div>

<hr>
<input type="text" [(ngModel)]="nome">
<button (click)="clicar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}}</li> 

<ng-template ngFor let-item [ngForOf]="list">
 <p> {{item.nome}}</p>
</ng-template>

<ng-content select="h3"></ng-content>

<hr>

<h2>Pipes</h2>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li> 

{{date | date:"dd/MM/yyyy"}}