<h1>Interpolation</h1>
<p>Sou {{ nome }} tenho {{idade}} anos</p>
<p>Idade é maior que 29?</p>
<p>{{idade > 29}}</p>
<p>Quanto é {{idade}} + 1?</p>
<p>{{idade+1}}</p>

<hr> 

<h1>Property Binding</h1>

<button  [disabled]="btnDisable">Botão</button>
<button  [disabled]="!btnDisable">Botão</button>

<br>
<img [src]="urlImagem" [alt]="dsImagem" [name]="dsImagem"/>

<hr>
<h1>Event Binding</h1>

<button (click)="alertaTest('Teste12')"> Alerta</button>
<div (mousemove)="moveMouse($event)" style="background: red; width: 300px; height: 300px;"></div>
<p>{{ position.x}} - {{position.y}}</p>

<hr>
<h1>Two-way Binding</h1>

<input [(ngModel)] ="nome">
{{nome}}